body {
  font-family: sans-serif;
}

#app {
  height: 80px;
  width: 300px;
  padding-right: 10px;
  /* padding-left: 10px;*/
  border: 1px solid rgb(68, 61, 61);
  border-radius: 15px;
  background-color: #c0e668c9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2rem;
  color: #30312c; /*same color as "Off" state bacground color else digits seen if clicked*/
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll; /* else numbers will go off limits*/
}

.calculator {
  border: 1px solid black;
  height: 460px;
  width: 340px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(42, 44, 46);
  box-shadow: 5px 5px 0 0 rgb(36, 29, 29);
}

.btn-container {
  margin-left: 17px;
}

.container {
  padding: 10px;
}
button {
  height: 60px;
  width: 60px;
  font-size: 1.2rem;
  margin: 3px;
  border: 8px outset silver;
  background-color: rgb(192, 192, 160);
}

/*chnaged color and reduced border width and font size to give illusion of button press*/
button:active {
  color: rgb(241, 241, 236);
  border-width: 5px;
  font-size: 1.1rem;
}

.black {
  background-color: black;
}
